<h1 class="recent-track-name">おすすめの曲</h1>

<div class="recent-group">

    <div class="recent-track">
      <%= image_tag "music1.jpg", class:"recent-track-img" %>
      <p class="recent-track-name">music1</p>
    </div>
    <div class="recent-track">
      <%= image_tag "music2.jpg", class:"recent-track-img" %>
      <p class="recent-track-name">music2</p>
    </div>
    <div class="recent-track">
        <%= image_tag "music3.jpg", class:"recent-track-img" %>
      <p class="recent-track-name">music3</p>
    </div>
    <div class="recent-track">
        <%= image_tag "music4.jpg", class:"recent-track-img" %>
      <p class="recent-track-name">music4</p>
    </div>
    <div class="recent-track">
        <%= image_tag "music5.jpg", class:"recent-track-img" %>
      <p class="recent-track-name">music5</p>
    </div>
    
</div>